# Simple workflow for deploying static content to GitHub Pages
name: Deploy static content to Pages

on:
  # Runs on pushes targeting the default branch
  push:
    branches: ["main"]  # Set this to your default branch name (usually "main")

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read      # "read" is sufficient for checkout
  pages: write       # Required for deployment
  id-token: write    # Required for OIDC token to verify deployment

# Allow only one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }} # Keep this as-is
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup Pages
        uses: actions/configure-pages@v5
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: 'Docs'  # Uploads the entire repository root
      - name: Deploy to GitHub Pages
        id: deployment # This ID MUST match the 'steps.deployment' in the url above
        uses: actions/deploy-pages@v5
